:root {
  --main-red-color: #e8615a;
  --secondary-red-color: #9c3230;
  --dark-red-color: #5d2322;
  --main-blue-color: #2be4ea;
  --main-yellow-color: yellow;
  --main-dark-color: #171717ec;
}

@font-face {
  font-family: 'Cyberpunk';
  font-style: normal;
  font-weight: 400;
  src: local('Cyberpunk'), local('Cyberpunk-Regular'), url("fonts/Cyberpunk-Regular.ttf") format('truetype');
}

html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: var(--main-dark-color);
  background-image: radial-gradient( ellipse at 50% 5%, #461616 0%, transparent 90%), url('./img/bg.png');
  background-size: cover;
  color: var(--main-red-color);
  background-repeat: no-repeat;
  cursor: url("./img/cyber-cursor.png") 12 12, auto !important;
  overflow: hidden;
}

.app {
  width: 95%;
  margin: auto;
}

.report {
  padding-left: 10px;
  text-align: left;
  color: var(--main-red-color);
  display: block;
  max-height: 65vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.report-bg {
  background-color: var(--main-dark-color) !important;
}

.cyber-panel {
  clip-path: polygon( 0 0, 100% 0, 100% calc(100% - 1rem + 2px), calc(100% - 1rem + 2px) 100%, 0 100%);
  border: 2px solid var(--dark-red-color);
  position: relative;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.1);
}

.cyber-panel:before {
  background-color: var(--dark-red-color);
  bottom: 5px;
  content: "";
  display: block;
  height: 3px;
  position: absolute;
  right: -6px;
  top: auto;
  transform: rotate(-45deg);
  width: 22.627416px;
  z-index: 100;
}

.cyber-panel-selected {
  border: 2px solid var(--main-yellow-color);
}

.cyber-panel-selected:before {
  background-color: var(--main-yellow-color);
}

.cyber-panel-legend {
  padding-left: 0.5em;
  letter-spacing: 0.065em;
  line-height: 1;
  text-transform: uppercase;
  vertical-align: bottom;
  background-color: var(--secondary-red-color);
  margin-bottom: 0px;
  text-shadow: 0px 0px 3px var(--main-blue-color);
  display: inline;
  padding-right: 1.5em;
  clip-path: polygon( 0.25em 0, calc(100% - 1em) 0, 100% 100%, 0.33em 100%, 0 100%, 0 0.25em);
}

.cyber-panel-legend-selected {
  background-color: var(--main-yellow-color);
}

.cyber-menu {
  margin: 25px;
}

.cyber-button {
  position: relative;
  text-transform: uppercase;
  letter-spacing: 0.065em;
  color: var(--main-red-color);
  width: 100%;
  background-color: transparent;
  margin: 5px;
  padding: 5px;
  border: 1px solid transparent;
}

.cyber-button-active, .cyber-button:hover, .cyber-button:focus {
  color: var(--main-blue-color);
  background-color: var(--main-dark-color);
  clip-path: polygon( 0 0, 100% 0, 100% calc(100% - 1rem + 2px), calc(100% - 1rem + 2px) 100%, 0 100%);
  border: 1px solid var(--main-blue-color);
  cursor: url("./img/cyber-cursor.png") 12 12, auto;
}

.cyber-button:hover:before, .cyber-button:focus:before, .cyber-button-active:before {
  background-color: var(--main-blue-color);
  bottom: 5px;
  content: "";
  display: block;
  height: 3px;
  position: absolute;
  right: -6px;
  top: auto;
  transform: rotate(-45deg);
  width: 22.627416px;
  z-index: 100;
}

.cyber-button-2 {
  text-transform: uppercase;
  letter-spacing: 0.065em;
  color: var(--main-red-color);
  background-color: var(--main-dark-color);
  border: 1px solid var(--main-red-color);
  padding: 10px;
  display: block;
  margin: auto;
  width: 66%;
}

.cyber-button-2:hover {
  color: var(--main-blue-color);
  background-color: var(--main-dark-color);
  border: 1px solid var(--main-blue-color);
  cursor: url("./img/cyber-cursor.png") 12 12, auto;
}

.cyber-logo {
  margin-left: 20%;
  margin-right: 20%;
  width: 60%;
  height: auto;
}

a {
  color: var(--secondary-red-color);
}

a:hover {
  cursor: url("./img/cyber-cursor.png") 12 12, default;
  color: var(--main-blue-color);
}

.content {
  max-height: 55vh;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-color: var(--secondary-red-color) var(--main-dark-color);
  scrollbar-width: thin;
}

.error-gif {
  width: 95%;
  height: auto;
  border: 1px solid var(--secondary-red-color);
}

blockquote {
  background-color: var(--main-dark-color);
  padding: 20px;
  border: 1px solid var(--secondary-red-color);
  text-align: center;
  font-style: italic;
}

.msg-received {
  position: relative;
  right: 2rem;
  border-color: var(--main-yellow-color);
  color: var(--main-yellow-color);
}

.msg-response {
  position: relative;
  left: 2rem;
  border-color: var(--main-blue-color);
  color: var(--main-blue-color);
}

.MuiInputBase-root:hover, .MuiInputBase-input:hover, .Mui-disabled, .MuiFormControlLabel-root, .MuiButtonBase-root {
  cursor: url("./img/cyber-cursor.png") 12 12, auto !important;
}

.MuiFormLabel-root {
  color: var(--main-red-color) !important;
}

.MuiFormLabel-root.Mui-focused {
  color: var(--main-blue-color) !important;
}

.MuiInputBase-root {
  color: var(--main-red-color) !important;
}

.MuiOutlinedInput-notchedOutline {
  border-color: var(--secondary-red-color) !important;
}

.content-2 {
  max-height: 40vh;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-color: var(--secondary-red-color) var(--main-dark-color);
  scrollbar-width: thin;
}

.cyber-glitch, .cyber-glitch::after {
  width: 15em;
  height: 2em;
  border: 0;
  text-transform: uppercase;
  letter-spacing: 0.065em;
  color: var(--main-red-color);
  background: linear-gradient(45deg, transparent 5%, var(--secondary-red-color) 5%);
  color: white;
  text-shadow: 0px 0px 3px var(--main-blue-color);
  position: absolute;
  right: 0;
  clip-path: var(--slice-0);
}

.cyber-glitch::after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  content: 'ACC.E?S T0 MI?K.OSHI';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--secondary-red-color);
  text-shadow: -3px -3px 0 #F8F005, 3px 3px 0 #00E6F6;
  animation: glitch 1s infinite;
  animation-timing-function: steps(2, end);
}

.cyber-glitch:hover, .cyber-glitch:focus {
  cursor: url("./img/cyber-cursor.png") 12 12, auto !important;
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-10px, -5px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(5px, 5px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-5px, 5px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 2.5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-2.5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(2.5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(2.5px, 5px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 5px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(10px, -5px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-5px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media screen and (max-width:1280px) {
  .content {
    max-height: 75vh;
  }
  .content-2 {
    max-height: 65vh;
  }
  .cyber-panel-legend {
    font-size: 1em;
  }
  .no-scroll {
    overflow-y: scroll;
  }
}

@media screen and (min-width:1281px) {
  .content {
    max-height: 50vh;
    margin-bottom: 0.5em;
  }
  .content-2 {
    max-height: 40vh;
  }
  .cyber-panel-legend {
    font-size: 2em;
  }
  .no-scroll {
    overflow-y: hidden;
  }
}

.content:hover {
  transform: translate(0 100%);
}

.info {
  text-align: center;
  color: var(--main-yellow-color);
}

.dead-bg {
  background-image: url('./img/crane.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.old-job-bg {
  background-image: url('./img/croix.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--secondary-red-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--main-red-color);
  cursor: url("./img/cyber-cursor.png") 12 12, auto !important;
}

::-webkit-scrollbar-track {
  background: var(--main-dark-color);
}
